<!DOCTYPE html>
<html lang="en">
<head>


  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="images/favicon.png">

</head>
<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="container">
    <div class="row">
      <div class="one-half column" style="margin-top: 25%">
        <h4>Profscribe</h4>
        <p>Profscribe is a real time speech to text program that aims to provide a streaming service for educators and students.</p>
      </div>
    </div>
    <!-- Primary buttons -->
    <a class="button button-primary" href="signup.html">Sign Up</a>
    <a class="button button-primary" href="login.html">Login</a>


  </div>


<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>


</html>
