<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Profscribe</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/skeleton.css">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="images/favicon.png">
  
</head>

<body>

<p>Enter information below to create a new class </p>
<form>
  <div>
    Class Name: <input type="text" id="className">
  </div>
  <br>
  <div>
    Quarter:
    <select id="quarterInput">
        <option value="Option 1">Fall</option>
        <option value="Option 2">Winter</option>
        <option value="Option 3">Spring</option>
        <option value="Option 4">Summer</option>
    </select>
  </div>
  <br> 
  <div>
    Year: <input type="text" id="classYear">
  </div>
  <br>
  <div>
    <input class="button-primary" type="submit" value="Submit">
  </div>
</form>

</body>
</html>