
<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Profscribe</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

 
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/skeleton.css">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="images/favicon.png">

</head>
<body>

<!-- The above form looks like this -->
    
    </div>
    <div class="container" style="margin-top : 10%">
    <!-- Forms -->
      <div class="docs-section" id="forms">
      
        <div class="docs-example docs-example-forms">


        <form action="/signup" method="POST">
          <fieldset>
               
            <label for="email">Email</label>
            <input id="email" type="text" name="email" placeholder="you@domain.com" type="email">
      
            <label for="password">Password</label>
            <input  id="password" type="password" name="password" type="password"> <br />
            

            <input id="student" type="radio" name="type" value="student" > Student<br>
            <input id="professor" type="radio" name="type" value="professor"> Professor<br>


            <input id="submit" type="submit" value="Submit" class="button button-primary">
          </fieldset>
        </form>


        <p>If you are a first time user, please enter your school email in order to create an account. If you already have an account, please <a href="/login">Login</a> </p>


        <script type="text/javascript">
          

          $('#submit').click(function(event){
            event.preventDefault()
            document.getElementById("submit").disabled = true

            data = {
              email     : $('#email')[0].value,
              password  : $('#password')[0].value,
              student   : $('#student').is(':checked'),
              professor : $('#professor').is(':checked'),

            }

            console.log(data)

            function success(){
              window.location = "/"
            }

            $.ajax({
                type: "POST",
                url: "/signup",
                data: JSON.stringify(data),
                contentType : 'application/json',
                success : success
            })

          })
        </script>

        </div>
      </div>
<!-- Always wrap checkbox and radio inputs in a label and use a <span class="label-body"> inside of it -->

<!-- Note: The class .u-full-width is just a utility class shorthand for width: 100% -->



</body>
</html>

