<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Profscribe</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/skeleton.css">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="images/favicon.png">
  
</head>

  <body>
    <div class="container" style="margin-top: 10%">
     <p id="scribe"></p>
    </div>

  </body>

  <style type="text/css">
    p {
      font-size: 5em;
    }
  </style>

  <script type="text/javascript">
    
    //var connection = new WebSocket('ws://127.0.0.1:8050')
    var connection = new WebSocket('wss://profscribe.ruelas.me')
    connection.onopen = function () {
      console.log('we are connected')
    };

    // Log errors
    connection.onerror = function (error) {
      console.log(error);
    };

    // Log messages from the server
    connection.onmessage = function (e) {
      console.log('Server: ' + e.data);
      $('#scribe').text(e.data)
    };


  </script>
</html>